<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Spring Core Online Tutorial</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <!-- link css files -->
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
        <link href="../static/css/spring-core.css" th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

        <!-- link script js files -->
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <h1>Hello World</h1>
            <h2>This is my Thymeleaf index page. This is my changed.</h2>
        </div>
        <div class="container" style="margin-top: 3em;">
            <a href="customer/list"><button class="btn btn-primary">Customers List</button></a>
            <a href="product/list"><button class="btn btn-primary">Products List</button></a>
            <a href="user/list"><button class="btn btn-primary">Users List</button></a>
        </div>
    </body>
</html>
