<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Core Online Tutorial</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <!-- link css files -->
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
        <link href="../static/css/spring-core.css" th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

        <!-- link script js files -->
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <div th:if="${not #lists.isEmpty(products)}">
                <h2>Products list</h2>
                <table class="table">
                    <thead class="thead-dark">
                    <tr class="bg-primary">
                        <th>Id</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image url</th>
                        <th>List</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product : ${products}">
                            <td th:text="${product.id}" />
                            <td th:text="${product.description}" />
                            <td th:text="${product.price}" />
                            <td th:text="${product.imageUrl}" />
                            <td><a th:href="${'/product/' + product.id}"> View </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>